<div class="col-6 col-sm-4 col-md-3 col-lg-2">
    {% if item.source == "tmdb" %}
        <a href="{% url 'tmdb_detail' item.media_type item.external_id %}">
    {% else %}
        <a href="{% url 'detail' item.source item.external_id %}">
    {% endif %}

        <div class="movie-card position-relative">

            {% if item.poster %}
                <img src="{{ item.poster }}" class="poster">
            {% else %}
                <div class="poster placeholder"></div>
            {% endif %}

            <span class="badge badge-source bg-primary">
                {{ item.source|upper }}
            </span>

            <div class="movie-info">
                <div class="movie-title">{{ item.title }}</div>
                <div class="movie-meta">
                    {{ item.media_type|title }}
                    {% if item.release_year %} • {{ item.release_year }}{% endif %}
                </div>
            </div>
        </div>
    </a>
</div>
