{% extends "main/body.html" %}
{% block content %}

<div class="container-fluid mt-4 px-4">

    <h3 class="mb-3 text-capitalize">
        {{ category }} • Most Popular
    </h3>

    
    <form method="get" class="row g-2 mb-3">
        <div class="col-auto">
            <select name="genre" class="form-select">
                <option value="">All Genres</option>
                {% for g in genres %}
                    <option value="{{ g }}" {% if g == selected_genre %}selected{% endif %}>{{ g }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <select name="year" class="form-select">
                <option value="">All Years</option>
                {% for y in years %}
                    <option value="{{ y }}" {% if y == selected_year %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">Filter</button>
        </div>
    </form>

    <div id="results" class="row g-4">
        {% for item in results %}
            {% include "main/card.html" %}
        {% endfor %}
    </div>

    <div id="loader" class="text-center my-4 d-none">
        <div class="spinner-border text-danger"></div>
    </div>




</div>

{% endblock %}
