<nav class="navbar navbar-dark px-4 navbar-expand-lg">
    <a class="navbar-brand fw-bold" href="/">🎬 Entertainment Tracker</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'movies' %}">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'series' %}">Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'anime' %}">Anime</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'books' %}">Books</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
        </ul>

        <form class="d-flex" method="get" action="{% url 'home' %}">
            <input
                class="form-control search-input me-2"
                type="search"
                name="q"
                placeholder="Search..."
                value="{{ query }}"
            >
            <button class="btn btn-danger">Search</button>
        </form>

    </div>
</nav>
