{% extends "main/body.html" %}
{% block content %}
    <div class="container-fluid mt-4 px-4">

        {% if results %}
        <div class="row g-4">

            {% for item in results %}
                {% include "main/card.html" %}
            {% endfor %}

        </div>

        {% elif query %}
            <p class="text-center mt-5">No results found.</p>
        {% else %}
            <p class="text-center mt-5 text-secondary">
                Search movies, anime, books, and manga
            </p>
        {% endif %}

    </div>
{% endblock content %}